.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 12px;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    /* border: 1px solid #000; */

}